<!--The content below is only a placeholder and can be replaced.-->
<div class="container wrapper">
    <!-- Add new task -->
    <app-root></app-root>
    <div class="container form-group">
        <h2>New Task</h2>
        <form (submit) = "onSubmit()">
            <input class="form-control" type="text" value="Task Title" name="title" [(ngModel)]="newTask.title">
            <input class="form-control" type="text" value="Task Description" name="desc" [(ngModel)]="newTask.desc">
            <input type="submit">
        </form>
    </div>
    <!-- Task List -->
    <div class="container">
        <h2>Task List</h2>
        <div class="container" *ngFor="">

        </div>
    </div>
</div>







